@model Gummies.Models.Gummy

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @*<h3>Add a new product</h3>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        <br />

        <label>Cost in Dollars Per Bag</label>
        @Html.TextBoxFor(model => model.Cost)
        <br />

        <label>Country of Origin</label>
        @Html.TextBoxFor(model => model.Country)
        <br />

        <label>URL link to image</label>
        @Html.TextBoxFor(model => model.Image)
        <input type="submit" value="Add new product" />

    }*@

    <form action="Create" class="new-gummy">
        <label for="newName">Name: </label>
        <input type="text" name="newName" />

        <label for="newCost">Cost in Dollars Per Bag: </label>
        <input type="text" name="newCost" />

        <label for="newCountry">Country of Origin: </label>
        <input type="text" name="newCountry" />

        <label for="newImage">URL link to image: </label>
        <input type="text" name="newImage" />

        <button type="submit">Submit</button>
    </form>

    <div id="result-add"></div>

</div>